# Git
.git
.gitignore

# Docker
.docker

# Python
aplicativo / __pycache__ /
aplicativo / * / __pycache__ /
aplicativo / * / * / __pycache__ /
aplicativo / * / * / * / __pycache__ /
.env /
.venv /
venv /